<div id="home">

    <!-- Navigation -->

    <nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="/assets/images/LogoEverton.png"></a>
            <!-- <a class="navbar-brand" href="#"><i class="fa fa-scissors"></i></a> -->
            <!-- <i class="fa fa-scissors" aria-hidden="true"></i> -->
            <a class="navbar-brand corNomeSite" routerLink="/home">
                <h3 style="font-family:cursive;">EvertonCortes</h3>
            </a>
            <!-- <h3 class="corNomeSite"> WebPsico </h3> -->


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu" style="font-family:cursive;" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/clientes-form">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/agendamento">Agendamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Produtos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li> -->
                    <li class="nav-item" *ngIf="isLogged">
                        <a class="nav-link" (click)="logout()" href="#">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!-- End Navigation -->
</div>