<!-- Start Landing Page -->

<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">

        </div>
    </div>
</div>

<!-- Start Landing page caption-->

<div class="caption center-block text-center" id="pre-atendimento">
    <h3 class="fonteAgendamento">Agende já seu serviço!!</h3>
    <a class="btn btn-primary" routerLink="/agendamento">Realizar Agendamento</a>
</div>


<div id="about">

    <div class="jumbotron" id="quem-somos">

        <div class="row">
            <div class="col-md-6 text-center">
                <h3>Quem Somos</h3>
                <p>Everton Cortes é uma barberia que começamos em 2014... Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
            </div>
            <div class="col-md-6 text-center">
                <h3>Como Servimos</h3>
                <p>Temos diversos serviços como Corte .... barba .... sobrancelha ... e a mais barba terapia ... Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
            </div>
            <!-- <div class="col-md-4 text-center">
                <h3>Conheça Mais</h3>
                <p>Alem disso, o Web Psico também dispõe de artigos informativos pertinentes a área de psicologia, servindo assim como um canal seguro para quem busca informações acerca dessa área, considerando que o conteúdo disponibilizado no site é confeccionado pelos profissionais da clínica-escola.</p>
            </div> -->
        </div> <!-- End Row -->
    </div> <!-- End Jumbotron Section -->
</div> <!-- End About Section -->


<div id="noticias">

    <h3 class="heading">Produtos</h3>

    <div class="row padding">

        <div class="col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="/assets/images/img-1.jpg">
                <div class="card-body">
                    <h4>Pomada de modelar</h4>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="/assets/images/img-1.jpg">
                <div class="card-body">
                    <h4>Spray </h4>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="/assets/images/img-1.jpg">
                <div class="card-body">
                    <h4>Produtos Flora </h4>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>

                </div>
            </div>
        </div>

        

    </div> <!-- End Row-->
    <div class="text-center">
        <a class="btn btn-primary"
            href="https://veja.abril.com.br/saude/suicidio-e-segunda-causa-de-morte-entre-jovens-de-15-a-24-anos-diz-oms/">Veja
            mais Produtos</a>
    </div>
</div> <!-- End News Section-->


<div id="contato">

    <div class="container-fluid footer">
        <div class="row">

            <div class="col-md-6 text-center">
                <h4>Contato</h4>
                <h6>
                    Telefone: (83) 999526502
                    <br>
                    E-mail: evertoncortes@gmail.com
                </h6>
            </div>

            <div class="col-md-6 text-center ">
                <h4>Mídias Sociais</h4>
                <a href="https://www.facebook.com/barbevertoncortes/"><i class="fab fa-facebook " ></i></a>
                <a href="#"><i class="fab fa-scissors "></i></a>
                <a href="https://www.instagram.com/evertoncortes/?hl=pt"><i class="fab fa-instagram "></i></a>
                <a href="https://api.whatsapp.com/send/?phone=558399526502&text&app_absent=0"><i
                        class="fab fa-whatsapp"></i></a>
            </div>

        </div> <!-- End Row-->
    </div> <!-- End Conteiner Fluid Footer-->
</div> <!-- End Contact Section-->